.loginContainer{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: rgb(250, 248, 248);
}

.loginAnand{
    width: 50%;
    height: 100%;
}

.loginAnand img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.loginAnand h1{
    font-size: 30px;
    margin-top: 150px;
    margin-left: 30px;
}

.loginAnand h3{
    font-size: 20px;
    margin-top: 70px;
    margin-left: 30px;
}

.loginForm{
    background-color: rgb(250, 248, 248);
    color: gray;
    width: 450px;
    height: 370px;
    padding: 20px;
    margin: 150px auto 0;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginForm h2{
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
}

.loginForm p{
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}

.loginForm input{
    display: block;
    width: 220px;
    height: 30px;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: 1px solid rgb(235, 235, 235);
}

.loginForm input:focus{
    outline: none;
    border: 1px solid #168FC4;
    box-shadow: 0 3px 10px #003B56;
}

.senha{
    background-color: rgb(250, 248, 248);
    color: #a9c3e4;
    border: none;
    cursor: pointer;
    align-self: center;
    margin-top: 10px;
    margin-left: 100px;
}

.senha:hover{
    color: #003B56;
}

.entrar{
    background-color: #d8e6f8;
    color: gray;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    box-shadow: 0 3px 10px rgba(116, 139, 202, 0.349);
}

.entrar:hover{
    background-color: #003B56;
    box-shadow: 0 3px 10px #168FC4;
    color: white;
}

.googleLogin{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}